<h1>Список пользователей</h1>
<p>

</p>

<table>
	<tr >
		<th> ID </th>
		<th> Имя 
			<%= link_to "↓", users_path(sorting: "name") %>
			<%= link_to "↑", users_path(sorting: "name DESC") %>
		</th>
		<th> Фамилия </th>
		<th> Редактирование </th>
	</tr>
<% @users.each do |user| %>
	<tr >
		<td> <%= link_to user[:id], user_path(user[:id]) %> </td>
		<td> <%= user[:name] %> </td>
		<td> <%= user[:lastname] %> </td>
		<td> <%= link_to "Редактировать", edit_user_path(user[:id]) %> </td>
<% end %>	
</table>
<br>
<%= will_paginate @users %>

<p><%= link_to "Создать нового пользователя", new_user_path %> </p>
<p><%= link_to "Список расписок", loans_path %> </p>