<h1><%= @user.email%></h1>
<h2>Name: <%= @user.name if @user.name %> </h2>
<h2>LastName: <%= @user.lastname if @user.lastname %> </h2>
<br>
<% if @user == current_user %>
	<%= link_to "Все расписки", loans_path(@user)  %>
	<br>
	<%= link_to "Создать расписку", new_loan_path(@user) %>
	<br>
	<%= link_to "Удалить пользователя", user_path(@user), method: :delete %>
	<br>
<% end %>
<%= link_to "Список всех пользователей", users_path %>
