<h1>Список расписок</h1>

<table class="table table-striped table-condensed">
	<tr >
		<th> ID </th>
		<th> Заемщик </th>
		<th> Сумма </th>
		<th> Срок </th>
		<th> Процент </th>
		<th> Редактирование </th>
	</tr>
<% @loans.each do |loan| %>
	<tr >
		<td> <%= link_to loan[:id], loan_path(loan[:id]) %> </td>
		<td> <%= loan.user.name + " " + loan.user.lastname %> </td>
		<td> <%= loan[:sum] %> </td>
		<td> <%= loan[:term] %> </td>
		<td> <%= loan[:interest] %> </td>
		<td> <%= link_to "Редактировать", edit_loan_path(loan[:id]) %> </td>
	</tr>
<% end %>	
</table>
<br>
<%= will_paginate @loans %>

<p><%= link_to "Создать новый займ", new_loan_path %> </p>
<p><%= link_to "Список пользователей", users_path %> </p>